/* Componens */
@import './componets/aside.css';
@import './componets/cart.css';
@import './componets/footer.css';
@import './componets/header.css';
@import './componets/search.css';
@import './componets/overlay.css';
@import './componets/logo.css';
@import './componets/hero.css';

/* Routes */
@import './routes/account.css';
@import './routes/article.css';
@import './routes/blog.css';
@import './routes/collections.css';
@import './routes/home.css';
@import './routes/products.css';

/* Tailwind */
@import './tailwind.css';

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

